<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb910166978163522</string>
			</array>
		</dict>
	</array>
	<key>ENCRYPT_IV</key>
	<string>yuwfc2gfdw3hslir</string>
	<key>ENCRYPT_KEY</key>
	<string>5t655t4713uonjua</string>
	<key>FacebookAppID</key>
	<string>910166978163522</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookClientToken</key>
	<string>174d94b5fe72ee5f43e6336e805af059</string>
	<key>FacebookDisplayName</key>
	<string>Emlio</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>instagram</string>
		<string>fb</string>
		<string>tiktok</string>
		<string>comgooglemaps</string>
		<string>tweetie</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>mqq</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UNUserNotificationCenter</key>
	<dict>
		<key>UNAuthorizationOptions</key>
		<array>
			<string>alert</string>
		</array>
	</dict>
</dict>
</plist>
